:root {
  --primary: #3498db;
  --primary-darker: #2980b9;
  --white: #f9f9f9;
  --pending: rgba(39, 174, 95, 0.411);
  --warning: rgba(243, 157, 18, 0.411);
  --error: hsla(6, 78%, 57%, 0.411);
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100svh;
  max-height: 100svh;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: var(--white);

  a {
    text-decoration: none;
    color: var(--white);
  }
}

.active {
  .app-header {
    i {
      display: inline !important;
    }
  }
  .form-view {
    display: none !important;
  }
  .weather-view {
    display: flex !important;
  }
}

.weather-app {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 10px;
  gap: 20px;

  height: fit-content;
  background-color: var(--white);

  .off {
    display: none !important;
  }
  .active {
    display: flex !important;
  }

  .app-header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(153, 153, 153, 0.562);
    gap: 10px;
    padding: 10px 10px;
    i,
    h3 {
      margin: 0;
      padding: 0;
      color: var(--primary);
    }
    i {
      display: none;
    }
    i:hover {
      cursor: pointer;
      font-size: large;
    }
  }
  .app-body {
    // Form View
    .form-view {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      gap: 10px;
      width: 100%;
      padding: 20px;

      img {
        width: 200px;
        height: auto;
        margin-top: -20px;
      }
      .info-txt {
        display: none;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 30px;
        padding: 0;
        margin: 10px 0;
        gap: 5px;

        color: #333;
      }

      .error {
        display: flex;
        background-color: var(--error);
      }
      .pending {
        display: flex;
        background-color: var(--pending);
      }

      .form {
        display: flex;
        flex-direction: column;
        width: 100%;

        .form-group {
          display: flex;
          width: 100%;
          border: 1px solid var(--primary);
          border-radius: 10px;

          input {
            flex: 6;
            padding: 10px 2px;
            border: none;
            text-align: center;
            outline: none;
            background-color: transparent;
          }

          .btn {
            flex: 1;
            border-radius: 10px;
            background-color: var(--white);
            border: none;
            color: #333;
          }
        }

        .divider {
          text-align: center;
          color: #333;
          padding: 20px 0;
        }

        .btn {
          width: 100%;
          padding: 10px 0;
          border-radius: 10px;
          box-shadow: none;
          text-align: center;
          background-color: var(--primary);
          color: var(--white);
        }
        .btn:hover {
          cursor: pointer;
          color: var(--white);
          background-color: var(--primary-darker);
        }
        .btn:active {
          box-shadow: 0 2px #666;
          transform: translateY(1px);
        }
      }
    }

    // Weather View
    .weather-view {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      color: #333;

      .weather-icon {
        width: 200px;
        height: auto;
        padding: none;
        margin-bottom: -30px;
      }

      .temp {
        display: flex;
        font-size: 50px;
        font-weight: bold;
      }

      .weather-title {
        padding: 10px 0;
      }

      .app-footer {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 60px;
        border-top: 1px solid rgba(153, 153, 153, 0.562);
        margin-top: 40px;
        padding: 10px 0px;
        box-sizing: border-box;
        font-size: 16px;
        position: relative;

        .vl {
          border-left: 1px solid rgba(153, 153, 153, 0.562);
          height: 100%;
          position: absolute;
          left: 50%;
          margin-left: -3px;
          top: 0;
        }

        .left,
        .right {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;

          .icon {
            font-size: 25px;
            color: var(--primary);
            margin: none;
            padding: none;
          }

          .details {
            display: flex;
            flex-direction: column;
            .number,
            .degree {
              font-size: 18px;
            }
            .info {
              margin-top: -2px;
              margin-bottom: 0;
              padding: none;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .weather-app {
    width: 100%;
    height: 100svh;
    
    // Weather View
    .weather-view {
      justify-content:flex-start !important;
      align-items: center;
      position: relative !important;
      height: calc(80svh);
  
      .app-footer {
        position: absolute !important;
        bottom: 0;
        left: 0;
      }
    }
  }
}
