:root {
    --primary: #0095ff;
    --secondary: #202b3b;
    --background: #0b131e;
    --white: #f9f9f9;
    --grey: #999;
    --pending: rgba(39, 174, 95, 0.411);
    --warning: rgba(243, 157, 18, 0.411);
    --error: hsla(6, 78%, 57%, 0.411);
}



.dark {
    background-color: var(--background);
    color: var(--white);
}

.box {
    background-color: var(--secondary);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.wrapper {
    display: flex;
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    height: 100svh;
    padding: 10px 10px;
    background-color: var(--background);

}
.sidebarOn .sidebar{
    display: flex !important;
    z-index: 999;
    top: 10px;
    left: 0;
    bottom: 10px;

    width: 60px;
    gap: 32%;
    height: calc(100vhs);
}

.sidebar {
    display: none;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    position: absolute;
   
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;;
    background-color: var(--secondary);
}
.btnCloseNav {
    margin-top: 10px;
}
.logo {
    display: flex;
    flex: 0 1;
    justify-content: center;
    align-items: center;
    width: 100%;
   

}
.logo img{
    width: 40px;
    height: 40px;
}
.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.sidebar a {
    display: flex;
    flex-direction: column;
    color: var(--white);
    text-decoration: none;
    align-items: center;
    font-size: 0.712rem;
}

.sidebar a:hover {
    color: var(--primary);
    font-weight: bold;
}

.menu-icon {
    font-size: 1.5rem;
}



.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: var(--secondary);
    border-radius: 20px;
}
.searchBar input {
    flex: 1;
    border: none;
    background-color: transparent;
    padding: 10px;
    color: var(--white);
}
.searchBar .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: var(--secondary);
    padding: 10px;
    border-radius: 20px;

}
.searchBar .btn:hover {
    background-color: var(--primary);
}
.searchBar input:focus {
   outline: none;
}
.content {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: calc(100vw);
    padding: 0 10px;
    gap: 10px;

}

.weatherNow {
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
    padding: 5px;
}
.title{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.city{
    font-size: 1.5rem;
}
.rainInfo {
    font-size: 0.823rem;
}

.weatherInfo {
    display: flex;
    flex: 1;
    margin-top: 8px;
    font-size: 2.5rem;
}

.todayForcast {
    display: flex;
    width: 100%;
    height: 200px;

    border-radius: 20px;
    background-color: var(--secondary);
}

.airCondition {
    display: flex;
    width: 100%;
    height: 200px;

    border-radius: 20px;
    background-color: var(--secondary);
}

.weekForcast {
    display: flex;
    width: 100%;
    height: 600px;

    border-radius: 20px;
    background-color: var(--secondary);
}

