:root {
  --primary: #0095FF;
  --secondary: #202B3B;
  --background: #0B131E;
  --white: #f9f9f9;
  --grey: #999;
  --pending: rgba(39, 174, 95, 0.411);
  --warning: rgba(243, 157, 18, 0.411);
  --error: hsla(6, 78%, 57%, 0.411);
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100svh;
  max-height: 100svh;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: var(--white);
}
body a {
  text-decoration: none;
  color: var(--white);
}

.active .app-header i {
  display: inline !important;
}
.active .form-view {
  display: none !important;
}
.active .weather-view {
  display: flex !important;
}

.weather-app {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 10px;
  gap: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--white);
}
.weather-app .off {
  display: none !important;
}
.weather-app .active {
  display: flex !important;
}
.weather-app .app-header {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.562);
  gap: 10px;
  padding: 10px 10px;
}
.weather-app .app-header i,
.weather-app .app-header h3 {
  margin: 0;
  padding: 0;
  color: var(--primary);
}
.weather-app .app-header i {
  display: none;
}
.weather-app .app-header i:hover {
  cursor: pointer;
  font-size: large;
}
.weather-app .app-body .form-view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  gap: 10px;
  width: 100%;
  padding: 20px;
}
.weather-app .app-body .form-view img {
  width: 200px;
  height: auto;
  margin-top: -20px;
}
.weather-app .app-body .form-view .info-txt {
  display: none;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  padding: 0;
  margin: 10px 0;
  gap: 5px;
  color: #333;
}
.weather-app .app-body .form-view .error {
  display: flex;
  background-color: var(--error);
}
.weather-app .app-body .form-view .pending {
  display: flex;
  background-color: var(--pending);
}
.weather-app .app-body .form-view .form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.weather-app .app-body .form-view .form .form-group {
  display: flex;
  width: 100%;
  border: 1px solid var(--primary);
  border-radius: 10px;
}
.weather-app .app-body .form-view .form .form-group input {
  flex: 6;
  padding: 10px 2px;
  border: none;
  text-align: center;
  outline: none;
  background-color: transparent;
}
.weather-app .app-body .form-view .form .form-group .btn {
  flex: 1;
  border-radius: 10px;
  background-color: var(--white);
  border: none;
  color: #333;
}
.weather-app .app-body .form-view .form .divider {
  text-align: center;
  color: #333;
  padding: 20px 0;
}
.weather-app .app-body .form-view .form .btn {
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  box-shadow: none;
  text-align: center;
  background-color: var(--primary);
  color: var(--white);
}
.weather-app .app-body .form-view .form .btn:hover {
  cursor: pointer;
  color: var(--white);
  background-color: var(--primary-darker);
}
.weather-app .app-body .form-view .form .btn:active {
  box-shadow: 0 2px #666;
  transform: translateY(1px);
}
.weather-app .app-body .weather-view {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #333;
}
.weather-app .app-body .weather-view .weather-icon {
  width: 200px;
  height: auto;
  padding: none;
  margin-bottom: -30px;
}
.weather-app .app-body .weather-view .temp {
  display: flex;
  font-size: 50px;
  font-weight: bold;
}
.weather-app .app-body .weather-view .weather-title {
  padding: 10px 0;
}
.weather-app .app-body .weather-view .app-footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  border-top: 1px solid rgba(153, 153, 153, 0.562);
  margin-top: 40px;
  padding: 10px 0px;
  box-sizing: border-box;
  font-size: 16px;
  position: relative;
}
.weather-app .app-body .weather-view .app-footer .vl {
  border-left: 1px solid rgba(153, 153, 153, 0.562);
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
.weather-app .app-body .weather-view .app-footer .left,
.weather-app .app-body .weather-view .app-footer .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.weather-app .app-body .weather-view .app-footer .left .icon,
.weather-app .app-body .weather-view .app-footer .right .icon {
  font-size: 25px;
  color: var(--primary);
  margin: none;
  padding: none;
}
.weather-app .app-body .weather-view .app-footer .left .details,
.weather-app .app-body .weather-view .app-footer .right .details {
  display: flex;
  flex-direction: column;
}
.weather-app .app-body .weather-view .app-footer .left .details .number,
.weather-app .app-body .weather-view .app-footer .left .details .degree,
.weather-app .app-body .weather-view .app-footer .right .details .number,
.weather-app .app-body .weather-view .app-footer .right .details .degree {
  font-size: 18px;
}
.weather-app .app-body .weather-view .app-footer .left .details .info,
.weather-app .app-body .weather-view .app-footer .right .details .info {
  margin-top: -2px;
  margin-bottom: 0;
  padding: none;
  font-size: 12px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .weather-app {
    width: 100%;
    height: 100svh;
  }
  .weather-app .weather-view {
    justify-content: flex-start !important;
    align-items: center;
    position: relative !important;
    height: 80svh;
  }
  .weather-app .weather-view .app-footer {
    position: absolute !important;
    bottom: 0;
    left: 0;
  }
}/*# sourceMappingURL=style.css.map */